= form_for @competency do |f|

	=if @competency.errors.any?
		.alert.alert-danger
			%h5
				=pluralize(@competency.errors.count, "error") 
				weerhouden het opslaan van deze competentie:
			%ul
				-@competency.errors.full_messages.each do |msg|
					%li=msg

	%p 
		Voor welke competentie wil je EC's opnemen? 
		= f.select(:competency, options_for_select([['Research & Innovation', 'Research'], ['Concepting', 'Concepting'], ['Multimedia Design', 'Design'], ['Multimedia Production', 'Production'], ['Quality Monitoring & Implementation', 'QMI'], ['Multidisciplinary Teamwork', 'Teamwork'], ['Communication', 'Communication'], ['Projectmanagement', 'PM'], ['Sharing', 'Sharing'], ['Growth & Reflection', 'G&R']]), { include_blank: true })

	%p 
		Hoeveel EC's wil je voor deze competentie opnemen?
		= f.select(:european_credit, options_for_select([['3', '3'], ['6', '6'], ['9', '9'], ['12', '12']]), { include_blank: true })

	%p 
		Op welk niveau wil je deze EC's behalen?
		= f.select(:level, options_for_select([['Basis', 'Basis'], ['Gevorderd', 'Gevorder'], ['Expert', 'Expert']]), { include_blank: true })

	%p
		= f.submit "Opslaan",class: "btn btn-success"